body {
    padding: 0;
    margin: 0;
    margin-top: 2%;
    border: none;
    font-family: "Poppins", sans-serif;
    background-image: url("images/header-illsutration-mobile@2x.svg");
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 15px;
    color: #172B4d;
    position: relative;
    width: 9000%;
    height: 450%;
    left: 30%;
    right: 30%;
    text-align: center;

}

.header {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 5vh;
    position: relative;
}

h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    width: 80%;
    padding-top: 16%;
    margin-bottom: 0;
    margin-left: 6%;
}

p {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
    height: 200vh;
    margin-top: 5%;
}

.icons {
    display: flex;
    flex-direction: row;
    height: 50vh;
    margin-top: 1%;
    justify-content: center;

}

.column {
    float: left;
    width: 12%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}