body {
  padding: 0;
  margin: 0;
  margin-top: 2%;
  border: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

nav {
  width: 100vw;
}

.navbar {
  display: flex;
  font-size: 15px;
  color: #172b4d;
  list-style: none;
  width: 85%;
  height: 100%;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.menu_icon {
  margin-left: auto;
}

.header {
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  width: 90vw;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
  background-image: url("images/header-illsutration-mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 80%;
  padding-top: 16%;
  margin-bottom: 0;
  margin-left: 6%;
}

.heading2 {
  color: #36b37e;
}

p {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  height: 200vh;
  margin-top: 5%;
}

.icons {
  display: flex;
  flex-direction: row;
  height: 50vh;
  margin-top: 1%;
  justify-content: center;
}

.column {
  float: left;
  width: 12%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown_icon {
  margin-top: 20px;
}

.main-title {
  width: 320px;
  margin-block: 120px 80px;
  margin-inline: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #212121;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #1c1a19;
}

.prev-works {
  height: 216rem;
  background-color: rgba(255, 255, 255, 0.24);
  width: 100%;
}

.experience {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 24px;
  padding: 120px 24px 120px 24px;
}

.title-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 107px;
  min-width: 327px;
  margin: auto;
}

.experience-title {
  font-family: 'Crete Round', serif;
  color: #1c1a19;
  font-size: 40px;
}

.line {
  border: 1px solid #212121;
  width: 327px;
  height: 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 7px;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.project-card-img {
  width: 100%;
}

.project-card-title {
  font-family: 'Crete Round', serif;
  color: #091e42;
  font-size: 32px;
  margin: 0;
}

.project-card-list {
  display: flex;
  margin-left: 0;
  gap: 24px;
  padding: 10px 12px 10px 12px;
  align-items: center;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: auto;
  border: 1px solid #8993a4;
  height: 20px;
  color: #091e42;
}

.project-card-btn {
  height: 48px;
  width: 124px;
  background-color: #36B37F;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
}

.proj-list {
  height: 20px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}

.project-btn {
  height: 48px;
  width: auto;
  background-color: #36B37F;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}

.about-me {
  background-color: #fff;
  height: auto;
  padding: 0 24px 120px 24px;
}

.about-container {
  background: url("images/Frame.svg") bottom right no-repeat;
  background-position-y: 25%;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  padding: 120px 24px 120px 24px;
  grid-gap: 24px;
  align-items: center;
}

.about-me-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 210px;
}

.about-me-title {
  font-family: 'Inter', serif;
  font-size: 72px;
  color: #091e42;
  margin-bottom: 0;
  letter-spacing: 0.37px;
}

.about-me-para {
  font-family: 'Inter', sans-serif;
  color: #172b4d;
  font-size: 1rem;
  height: 148px;
  line-height: 24px;
}

.about-me-btn {
  height: 48px;
  width: 161px;
  background-color: #36B37F;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  margin-top: 12px;
  border: none;
}

.line-container {
  height: 17px;
  min-width: 327px;
  margin: auto;
}

.line-1 {
  border: 1px solid #fff;
  height: 0;
}

.about-me-common {
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  justify-content: center;
}

.about-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.about-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about-my-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 216px;
  margin: auto;
}

.about-list {
  height: 48px;
  width: auto;
  font-size: 22px;
}