* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: auto;
  width: 100%;
}

.new-element-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 110vh;
  background-color: #fff;
}

.new-container {
  min-width: 375px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.button-and-list {
  background-color: #3c3a39;
  height: 80%;
}

.button-img {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 48px;
  margin-top: 4px;
  padding-right: 30px;
}

.ul-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}

.ul-items a {
  color: #fff5e1;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 8px;
}

.new-line-1 {
  border: 1px solid #6f6c6b;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(151, 148, 147, 0.9);
  box-sizing: border-box;
  overflow-y: scroll;
  top: 0;
  left: 0;
}

.popup-details-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  padding: 16px;
  margin: 60px 16px 39px 16px;
}

.popup-name-image {
  display: flex;
  justify-content: space-between;
}

.popup-name {
  color: #172b4d;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.popup-image {
  height: 40px;
  width: 40px;
}

.popup-unorded-list {
  display: flex;
  padding: 0;
  gap: 8px;
}

.popup-list {
  height: 36px;
  width: auto;
  padding: 10px 12px;
  color: #3c3a39;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #979493;
}

.popup-feature-img {
  width: 100%;
}

.popup-description {
  margin-top: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.popup-button {
  margin-top: 12px;
  display: flex;
  gap: 28px;
  justify-content: center;
}

.popup-button-1 {
  display: flex;
  align-items: center;
  height: 48px;
  width: auto;
  background-color: #ff6b00;
  padding: 10px;
}

.popup-button-1 a {
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-right: 12px;
  color: #fff;
}

.homepage {
  min-width: 375px;
  background: url("images/Illustration.svg") bottom -11% right no-repeat;
  background-color: #1c1a19;
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  background-color: #3c3a39;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 36px;
}

.nav-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  text-decoration-line: none;
}

.nav-menu {
  width: 40px;
  height: 40px;
}

.links {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  padding: 72px 24px 120px 24px;
}

.main-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-header {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin: 0;
}

.sub-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff5e1;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}

.main-paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.social-media {
  display: flex;
  align-items: center;
  padding-left: 0;
  height: 40px;
  width: 200px;
}

li {
  list-style: none;
}

.button {
  border: none;
}

.prev-works {
  height: 216rem;
  background-color: rgba(255, 255, 255, 0.24);
  width: 100%;
}

.experience-container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 24px;
  padding: 120px 24px 120px 24px;
}

.title-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 107px;
  min-width: 327px;
  margin: auto;
}

.experience-title {
  font-family: 'Crete Round', serif;
  color: #1c1a19;
  font-size: 40px;
}

.line {
  border: 1px solid #212121;
  width: 327px;
  height: 0;
}

.project-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.project-1-img {
  width: 100%;
}

.project-1-title {
  font-family: 'Crete Round', serif;
  color: #091e42;
  font-size: 32px;
  margin: 0;
}

.project-1-para {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #091e42;
}

.project-1-list {
  display: flex;
  margin-left: 0;
  gap: 24px;
  padding: 10px 12px 10px 12px;
  align-items: center;
  height: 40px;
}

.list-1 {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: auto;
  border: 1px solid #8993a4;
  height: 20px;
  color: #091e42;
}

.project-1-btn {
  height: 48px;
  width: 124px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
}

.project-x {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: url("images/Mask Group.svg") 50% 50% /cover no-repeat;
  font-family: 'Inter', sans-serif;
  margin: 50px;
}

.project-x-title {
  font-size: 2rem;
  padding-left: 24px;
  color: #fff;
}

.project-x-para {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
}

.project-x-list {
  display: flex;
  gap: 24px;
  height: 40px;
  align-items: center;
}

.proj-list {
  height: 20px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}

.project-btn {
  height: 48px;
  width: auto;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}

.frame-img {
  display: none;
}

.frame-img-2 {
  display: none;
}

.about-me {
  background-color: #1c1a19;
  height: auto;
  padding: 0 24px 120px 24px;
}

.about-container {
  background: url("images/Frame.svg") bottom right no-repeat;
  background-position-y: 25%;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  padding: 120px 24px 120px 24px;
  grid-gap: 24px;
  align-items: center;
}

.about-me-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 210px;
}

.about-me-title {
  font-family: 'Inter', serif;
  font-size: 72px;
  color: #ff6b00;
  margin-bottom: 0;
  letter-spacing: 0.37px;
}

.about-me-para {
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  font-size: 1rem;
  height: 148px;
  line-height: 24px;
}

.about-me-btn {
  height: 48px;
  width: 161px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  margin-top: 12px;
  border: none;
}

.line-container {
  height: 17px;
  min-width: 327px;
  margin: auto;
}

.line-1 {
  border: 1px solid #fff;
  height: 0;
}

.about-me-common {
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  justify-content: center;
}

.about-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.about-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about-my-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 216px;
  margin: auto;
}

.about-list {
  height: 48px;
  width: auto;
  font-size: 22px;
}